*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

/* 大背景 */
html{
	height: 100%;
}


body{
	position: relative;
	width: 100%;
	height: 100%;
	background: url(images/f1_1.jpg) no-repeat center 0 / cover;
	
	/* display: flex;
	flex-direction: row;
	align-content: flex-end; */
}

.cloud{
	position: relative;
}

.cloud img{
	position: absolute;
	left: 50%;
	
	
	/* bottom: 20%; */
}


.cloud img:nth-child(1){
	margin-left: -250px;
	top:20px;
	animation: cloudmove 1s linear infinite alternate; 
}

.cloud img:nth-child(2){
	margin-left: 400px;
	top:100px;
	animation: cloudmove 1s linear infinite alternate 0.4s;
}

.cloud img:nth-child(3){
	margin-left: -580px;
	top:180px;
	animation: cloudmove 1s linear infinite alternate 0.8s ; 
}

@keyframes cloudmove{
	100%{
		transform: translate(50px);
	}
}

.jiantou{
	position: absolute;
	/* left:50%; */
	bottom: 20%;
	
	width: 100%;
	
/* 	display: flex;
	flex-direction: row;
	justify-content: space-around; */
	
}

@keyframes jiantou{
	100%{transform: translatey(30px);}
}


.jiantou img:nth-child(1){
	position: absolute;
	left: 25%;
	animation: jiantou 0.5s infinite alternate;
}

.jiantou img:nth-child(2){
	position: absolute;
	left: 40%;
	animation: jiantou 0.5s infinite alternate 0.25s;
}

.jiantou img:nth-child(3){
	position: absolute;
	right: 40%;
	animation: jiantou 0.5s infinite alternate 0.5s;
}

.jiantou img:nth-child(4){
	position: absolute;
	right: 25%;
	animation: jiantou 0.5s infinite alternate 0.75s;
}

/* 文字 */
.text img{
	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%,-50%);
	
	animation: text 2s;
	
}

/* 默认 → 小 → 大 → 小 → 默认 */
@keyframes text{
	0%{transform: translate(-50%,-50%) scale(1);}
	20%{transform: translate(-50%,-50%) scale(0.5);}
	50%{transform: translate(-50%,-50%) scale(1.5);}
	70%{transform: translate(-50%,-50%) scale(0.5);}
	100%{transform: translate(-50%,-50%) scale(1);}

}