/* 放index页面的样式表 */
/* banner */
.banner{
	height: 500px;
	background-color: #f5f5f5;
	position: relative;
	/* margin-bottom: 48px; */
}

.banner .wrapper{
	height: 500px;
	background-color: pink;
	position: relative;
}

.banner .wrapper .aside{
	width: 251px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0.8;
	position: absolute;
	top: 0;
}




.banner .wrapper .aside ul{
	width: 100%;
	height: 50px;
	/* background-color: #aaffff; */
	/* outline: 1px solid white; */
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
	/* margin-left: 20px; */
	padding-left: 20px;
}

.banner .wrapper .aside ul:hover{
	background-color: #29BB9C;
	
}

.banner .wrapper .aside ul li:first-child{
	font-size: 18px;
	margin-right: 7px;
}

.banner .wrapper .aside ul li:last-child{
	margin-left: auto;
}

.banner .wrapper .aside ul li:last-child a{
	
	
	display: block;
	width: 25px;
	height: 25px;
	/* background-color: black; */
	/* margin-right: 5px; */
	margin-right: 10px;
	background-image: url(../images/sprites.png);
	background-position: -31px -104px;
	
}

.banner .wrapper .aside ul li{
	/* width: 150px; */
	height: 40px;
	display: flex;
	flex-direction: row;
	/* background-color: #0f0; */
	align-items: center;
	
	/* justify-content: center; */
	
	/* background-color: red; */
}

.banner .wrapper .aside ul li a{
	height: 20px;
	line-height: 20px;
	/* background-color: yellow; */
	padding: 0 3px;
	/* outline: 2px solid black; */
	color: #fff;
	
}

.banner .wrapper .aside ul li a:hover{
	color: #fff;
	
}

.prev,
.next{
	position: absolute;
	top:228px ;
	width: 45px;
	height: 45px;
	/* background-color: red; */
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	
	background-image: url(../images/sprites.png);
	
}

.prev{
	left: 260px;
	background-position: 14px -60px;
}

.next{
	right: 10px;
	background-position: -22px -60px;
}

/* 圆点的样式 */
.banner ol{
	position: absolute;
	left: 680px;
	bottom: 30px;
	width: 150px;
	height: 10px;
	/* background-color: pink; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.banner ol li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .2);
	cursor: pointer;
}

.banner ol .current{
	background-color: #fff;
}

/* 新鲜好物 */
.goods{

}

.goods .hd{
	
	height: 114px;
	/* background-color: #aaffff; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}

.goods .hd .tou{
	display: flex;
	flex-direction: row;
	align-items: baseline;

}

.goods .hd .tou li:first-child{
	font-size: 30px;
}

.goods .hd .tou li:last-child{
	margin-left: 34px;
	color: #999;
	/* color: red; */
	
}

.goods .hd .wei{
	/* display: inline-block; */
}

.goods .hd .wei a{
	color: #999;
	/* display: inline-block; */
}

.goods .hd .wei a::after{
	content: "";
	display: inline-block;
	width: 15px;
	height: 20px;
	/* background-color: #000000; */
	background-image: url(../images/sprites.png);
	background-position: 0px -104px;
	vertical-align: top;
	/* margin:0 2px; */
	margin-left: 13px;
	margin-right: 2px;
}

.goods .bd ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.goods .bd ul li{
	width: 305px;
	height: 405px;
	background-color: pink;
	outline: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* align-content: space-between; */
}



.goods .bd ul li div{
	margin-bottom: 10px;
	color: red;
}

/* .goods .bd ul li div::before{
	content: "qian";
	font-size: 10px;
} */


.goods .bd ul li div::first-letter{
	font-size: 0.8em;
	color: #000;
}


.goods .bd ul li a img{
	width: 305px;
	height: 305px;
	background-color: #aaaa7f;
}

