/* 放index页面的样式表 */
/* banner */
.banner{
	height: 500px;
	background-color: #f5f5f5;
	position: relative;
	/* margin-bottom: 48px; */
}

.banner .wrapper{
	height: 500px;
	/* background-color: pink; */
	position: relative;
}

.banner .wrapper .aside{
	width: 251px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0.8;
	position: absolute;
	top: 0;
}




.banner .wrapper .aside ul{
	width: 100%;
	height: 50px;
	/* background-color: #aaffff; */
	/* outline: 1px solid white; */
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
	/* margin-left: 20px; */
	padding-left: 20px;
}

.banner .wrapper .aside ul:hover{
	background-color: #29BB9C;
	
}

.banner .wrapper .aside ul li:first-child{
	font-size: 18px;
	margin-right: 7px;
}

.banner .wrapper .aside ul li:last-child{
	margin-left: auto;
}

.banner .wrapper .aside ul li:last-child a{
	
	
	display: block;
	width: 25px;
	height: 25px;
	/* background-color: black; */
	/* margin-right: 5px; */
	margin-right: 10px;
	background-image: url(../images/sprites.png);
	background-position: -31px -104px;
	
}

.banner .wrapper .aside ul li{
	/* width: 150px; */
	height: 40px;
	display: flex;
	flex-direction: row;
	/* background-color: #0f0; */
	align-items: center;
	
	/* justify-content: center; */
	
	/* background-color: red; */
}

.banner .wrapper .aside ul li a{
	height: 20px;
	line-height: 20px;
	/* background-color: yellow; */
	padding: 0 3px;
	/* outline: 2px solid black; */
	color: #fff;
	
}

.banner .wrapper .aside ul li a:hover{
	color: #fff;
	
}

.prev,
.next{
	position: absolute;
	top:228px ;
	width: 45px;
	height: 45px;
	/* background-color: red; */
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	
	background-image: url(../images/sprites.png);
	
}

.prev{
	left: 260px;
	background-position: 14px -60px;
}

.next{
	right: 10px;
	background-position: -22px -60px;
}

/* 圆点的样式 */
.banner ol{
	position: absolute;
	left: 680px;
	bottom: 30px;
	width: 150px;
	height: 10px;
	/* background-color: pink; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.banner ol li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .2);
	cursor: pointer;
}

.banner ol .current{
	background-color: #fff;
}

/* 新鲜好物 */
.goods{

}

.goods .hd{
	
	height: 114px;
	/* background-color: #aaffff; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}

.goods .hd .tou{
	display: flex;
	flex-direction: row;
	align-items: baseline;

}

.goods .hd .tou li:first-child{
	font-size: 30px;
}

.goods .hd .tou li:last-child{
	margin-left: 34px;
	color: #999;
	/* color: red; */
	
}

.goods .hd .wei{
	/* display: inline-block; */
}

.goods .hd .wei a{
	color: #999;
	/* display: inline-block; */
}

.goods .hd .wei a::after{
	content: "";
	display: inline-block;
	width: 15px;
	height: 20px;
	/* background-color: #000000; */
	background-image: url(../images/sprites.png);
	background-position: 0px -104px;
	vertical-align: top;
	/* margin:0 2px; */
	margin-left: 13px;
	margin-right: 2px;
}

.goods .bd ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.goods .bd ul li{
	position: relative;
	width: 305px;
	height: 405px;
	/* background-color: pink;
	outline: 2px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* align-content: space-between; */
}

.goods .bd ul li h3{
	margin-top:20px;
	font-size: 20px;
	font-weight: 400;
}

.goods .bd ul li div{
	margin-bottom:20px;
	color: #9a2e1f;
	font-size: 23px;
}

/* .goods .bd ul li div::before{
	content: "qian";
	font-size: 10px;
} */


.goods .bd ul li div::first-letter{
	font-size: 17px;
	color: #9a2e1f;
}


.goods .bd ul li a img{
	width: 305px;
	height: 305px;
	background-color: #aaaa7f;
}

.goods .bd ul li::before{
	content: "新品";
	display: inline-block;
	width: 28px;
	height: 51px;
	/* background-color: black; */
	z-index: 999;
	position: absolute;
	left: 5px;
	top: 5px;
	border: 2px solid #29BA9B;
	text-align: center;
	color: #29BA9B;
	border-radius: 7px;
	font-size: 18px;
	line-height: 25px;
	
}

/* 生鲜 */
.shengxian{
	width: 1240px;
	height: 100%;
	/* display: flex; */
	
}

.shengxian .hd{
	width: 1240px;
	height: 96px;
	/* background-color: #aaffff; */
	display: flex;
	flex-direction: row;
	align-items: center;
	/* outline: 1px solid black; */
	justify-content: space-between;
	
}

.shengxian .hd .tou {
	width: 100%;
	height: 96px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* outline: 1px solid black; */
	/* align-items: center; */
	/* background-color: yellow; */
	

}

.shengxian .hd .tou li:first-child{
	width: 120px;
	height: 96px;
	font-size: 30px;
	line-height: 96px;
	/* width: 100%; */
	/* background-color: #f5f5f5; */
}

.shengxian .hd .tou li:last-child{
	width: 370px;
	height: 96px;
	line-height: 96px;
	/* margin-right: auto; */
	color: #999;
	/* color: red; */
	/* background-color: #aaffff; */
	
}

.shengxian .hd .tou li:last-child a{
	
	color: #999;
	padding: 0 7px;
}

.shengxian .hd .tou li:last-child a:hover{
	background-color: #21BB98;
	/* opacity: 0.6; */
	
}



.shengxian .hd .wei{
	/* width: 100%; */
	/* margin-left: auto; */
	/* margin-right: 55px; */
	/* width: 100%; */
	height: 96px;
	/* display: inline-block; */
	/* background-color: #29BA9B; */
}

.shengxian .hd .wei li{
	width: 96px;
}

.shengxian .hd .wei a{
	width: 100%;
	height: 96px;
	color: #999;
	line-height: 96px;
	/* margin-left: 2px; */
	/* display: inline-block; */
	/* margin-right: auto; */
}

.shengxian .hd .wei a::after{
	content: "";
	display: inline-block;
	width: 15px;
	height: 20px;
	/* background-color: #000000; */
	background-image: url(../images/sprites.png);
	background-position: 0px -104px;
	/* vertical-align: top; */
	/* margin:0 2px; */
	margin-left: 13px;
	/* margin-top: 36px; */
	/* line-height: 96px; */
	/* margin-right: 2shengxian */
	
}


.shengxian .bd{
	display: block;
	width: 1240px;
	height: 610px;
	/* background-color: black; */
}


.shengxian .bd ul{
	width: 1240px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	/* background-color: skyblue; */
	/* padding-right: 10px; */
	/* background-color: pink; */
	/* padding-left: 5px; */
}

.shengxian .bd ul li{
	outline: 1px solid black;
	width: 242px;
	height: 304px;
	background-color: yellowgreen;
}



.shengxian .bd ul li:first-child{
	background-color: bisque;
	width: 240px;
	height: 610px;
}

.shengxian .bd ul li img{
	width: 100%;
}


/* .shengxian .bd ul li:first-child img{
	width: 100%;
	height: 610px;
} */

