/* index.css是用来美化首页的 */
*{
	margin: 0;
	padding: 0;
	/* 内减模式 */
	box-sizing: border-box;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
	/* font-size: 0; */
}

body{
	margin-top: 20px;
	background-color: #f3f5f7;
	display: flex;
	flex-direction: column;
	align-items: center;

}

/* 版心 */
.wrapper{
	width: 1200px;
	margin: 0 auto;
}


/* 头部 */
.header{
	height: 42px;
	/* background-color: pink; */
	display: flex;
	flex-direction: row;
}

h1 a img{
	width: 195px;
	height: 42px;
	margin-right: 70px;
}

.nav {
	height: 42px;
	display: flex;
	flex-direction: row;
	/* background-color: gray */
}

.nav ul{
	display: flex;
	flex-direction: row;
}

.nav li {
	height: 42px;
	/* background-color: #a9ebe7; */
	display: block;
	padding: 0 12px;
	margin: 0 12px;
}

.nav li a{
	line-height: 42px;
	text-align: center;
	font-size: 14px;
}

.nav li:hover{
	border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search{
	
	width: 412px;
	height: 42px;
	/* background-color: #ffaaff; */
	/* border: 1px solid black; */
	margin-left: 40px;
	display:flex;
	margin-right: 60px;
}

.search input{
	font-size:14px ;
	width: 362px;
	height: 42px;
	border: 1px solid #00a4ff;
	padding-left:20px ;
}

.search input::placeholder{
	font-size: 14px;
	color: #bfbfbf;

}

.search button{
	width: 50px;
	height: 42px;
	background-image: url(https://picsum.photos/50/42?random=1 );
}
.search button:hover{
	border: 3px solid #00a4ff;
}

.user{
	/* width: 120px; */
	height: 42px;
	/* background-color: yellow; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	line-height: 42px;
}

.user img{
	width: 20px;
	height: 20px;
	display: block;
}

.user span{
	margin-left: 5px;
	font-size: 10px;
}


/* 轮播图 */
.banner{
	/* width: 1200px; */
	/* width: 100%; */
	margin-top: 40px;
	height: 420px;
	/* background-color: #1c036c; */
}

.banner .wrapper{
	width: 1400px;
	height:420px;
	background-image: url(https://picsum.photos/1400/420?random=1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	
}

.banner .wrapper .left{
	width: 190px;
	height: 420px;
	background-color: rgb(0 0 0 /30%);
}
.left ul {
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	

}

.left li{
	height: 45px;
	background-color: #f3f5f7;
	line-height: 45px;
	padding: 0 20px;
	font-family: MicrosoftYaHei;
	font-size: 16px;

}

.left li a{
	display: flex;
	justify-content: space-between;
}

.left li a:hover{
	color: #00a4ff;
}

.banner .wrapper .center{
	width: 450px;
	height: 200px;
	background-color: rgba(170, 255, 255, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

}

.banner .wrapper .center div{

	/* background-color: pink; */
	text-align: center;

}

.banner .wrapper .center div:nth-child(1){
	font-size: 50px;
}

.banner .wrapper .center div a:hover{
	background-color: cadetblue;
	font-weight: bold;

}


.banner .wrapper .right{
	width: 228px;
	height: 300px;
	background-color: #fff;
	
}

.right ul{
	width: 228px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right ul li{
	width: 228px;
	height: 60px;
	/* background-color: green; */

}

.right ul .z{
	display: flex;
	flex-direction: column;
	width: 200px;
	/* background-color: #bfbfbf; */
	border-bottom: 1px solid #f3f5f7;
}

.right ul .z a{
	height: 30px;
	font-size: 18px;
	font-weight: 500;
	/* background-color: gold; */
	line-height: 40px;
}

.right ul .z a:hover{
	color: #009000;
	font-weight: bold;
}

.right ul .z div{
	height: 30px;
	color: #b0b0b0;
	/* background-color: rgba(170, 255, 255, 0.3); */
	
}

.right ul li:first-child{
	line-height: 60px;
	text-align: center;
	background-color: #9ACEE9;
	font-size: 25px;
	font-weight: 800;
}

.right ul li:last-child{
	display: flex;
	justify-content:center;
	align-items: center;
}

.right ul .ke{
	width: 200px;
	height: 45px;
	background-color: #fff;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid #00a4ff ;
	
}

.right ul .ke a{
	color:#4299e9;
}

.right ul .ke:hover{
	background-color: #c9f0f0;
}

.goods{
	margin-top: 8px;
	width: 1200px;
	height: 60px;
	/* background-color: goldenrod; */
	box-shadow: 0px 2px 3px 0px rgba(118,118,118,0.2);
}

.goods ul{
	width: 1200px;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 34px;

	
}

.goods ul li{
	text-align: center;
	padding: 0 30px;

}


.goods ul .one{
	font-size: 18px;
	color: #9ACEE9;
	font-weight: 600;
	
}

.goods ul .p {
	height: 25px;
	line-height: 25px;
	/* background-color: #b0b0b0; */
	border-left:2px solid #bfbfbf;
}

.goods ul .p a:hover{
	color: #00a4ff;
	/* font-weight: bold; */
}

.goods ul .two{
	margin-left: 200px;
}

.goods ul .two a{
	color: #00a4ff;
}

.goods ul .two a:hover{
	color: green;
	font-weight: bold;
}

.box{
	margin-top: 30px;
	width: 1200px;
	height: 610px;
	/* background-color: #daff60; */
}

.box .title{
	height: 30px;
	/* background-color: bisque; */
}

.box .title ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.box .title li{
	width: 100px;
	height: 30px;
	/* background-color: pink; */
	line-height: 30px;
}

.box .title li:first-child{
	font-size: 20px;
}

.box .title li a{
	color: #b0b0b0;
	font-size: 10px;
}

.box .content{
	height: 560px;
	margin-top:10px;
	/* background-color: paleturquoise; */
}


.box .content ul{
	height: 560px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	
}

.box .content li{
	width: 228px;
	height: 270px;
	/* background-color: azure; */
}

.box .content li .qiantao{
	position: relative;
	background-color: #b0b0b0;
}

.box .content li div .da{
	width: 228px;
	height: 170px;
	background-color: cadetblue;
}

.box .content li div .xiao{
	width: 30px;
	height: 30px;
	background-color: black;
	position: absolute;
	right: 0;
	border: 2px solid red;
}


.box .content li div:nth-child(n+2){
	height: 50px;
	/* background-color: chocolate; */
	text-align: center;
}

.box .content li div:nth-child(2){
	font-size: 30px;
	line-height: 55px;
}

.footer{
	margin-top: 20px;
	margin: ;
	width: 100%;
	height: 417px;
	/* 这个背景是白色 */
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer ul{
	width: 1200px;
	height: 417px;
	/* background-color: antiquewhite; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	
}

.footer ul li{
	width: 590px;
	height: 350px;
	/* background-color: #aaffff; */
	/* border: 1px solid #000000; */
}

.footer ul li div{
	padding: 5px 20px;
}

.footer ul li img{
		width: 195px;
		height: 42px;
}

.footer ul li:nth-child(2){
	width: 590px;
}

.footer ul li .xia{
	padding: 0;
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
	height: 50px;
	/* background-color: #009000; */
	line-height: 50px;
	text-align: center;
	border: 3px solid #00a4ff;
}

.footer ul li a{
	font-size: 20px;
}

.footer ul li .xia:hover{
	background-color: #9ACEE9;
}

.footer ul .s{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer ul li .shu{
	width: 180px;
	height: 200px;
	/* background-color: #aaaa7f; */
}

/* https://picsum.photos/200/200?random=1 */